[Unit]
Description=Starup script for Hiking Assistant Web-server
After=multi-user.target

[Service]
Type=idle
User=pi # Replace with your username
ExecStart=/usr/bin/python3 /home/johannes/hiking-assistant-server/run.py      # Replace with path to your run.py
Restart=always

[Install]
WantedBy=multi-user.target





# Steps:
# Place in lib/systemd/system/startup_webserver.service
# sudo systemctl deamon-reload
# sudo systemctl enable startup_webserver.service
# sudo systemctl start startup_webserver.service
