[Unit]
Description=Startup script for Hiking Assistant Bluetooth Receiver
After=multi-user.target

[Service]
Type=idle
User=user
WorkingDirectory=/home/user/latest/receiver/rpi
ExecStart=/bin/bash -lc 'source /home/user/latest/.venv/bin/activate && exec python3 receiver.py'
Restart=always

[Install]
WantedBy=multi-user.target




# Steps:
# Place in /lib/systemd/system/startup_receiver.service
# sudo systemctl daemon-reload
# sudo systemctl enable startup_receiver.service
# sudo systemctl start startup_receiver.service
