[Unit]
Description=Starup script for Hiking Assistant Web-server
After=multi-user.target

[Service]
Type=idle
User=user
User=user
WorkingDirectory=/home/user/latest
ExecStart=/bin/bash -lc 'source /home/user/latest/.venv/bin/activate && exec flask run'
Restart=always

[Install]
WantedBy=multi-user.target





# Steps:
# Place in /lib/systemd/system/startup_webserver.service
# sudo systemctl daemon-reload
# sudo systemctl enable startup_webserver.service
# sudo systemctl start startup_webserver.service
